@{
    ViewBag.Title = "Home";
}
<div class="offset"></div>
<div class="dark-wrapper">
    <div class="container inner">
        <div class="tp-banner-container revolution">
            <div class="tp-banner">
                <ul>
                    <li data-transition="fade">
                        <img src="~/Content/FrontEntContent/style/images/art/rs5-1.jpg" alt="" />
                        <div class="tp-caption sfl" data-x="100" data-y="176" data-speed="500" data-start="800" data-easing="Sine.easeOut"><img src="~/Content/FrontEntContent/style/images/art/slider-woman.png" alt="" /></div>
                        <div class="tp-caption sfr" data-x="250" data-y="37" data-speed="700" data-start="1300" data-easing="Sine.easeOut"><img src="~/Content/FrontEntContent/style/images/art/slider-bubbles.png" alt="" /></div>
                        <div class="tp-caption main-title light-layer sfr" data-x="450" data-y="215" data-speed="500" data-start="1800" data-easing="Sine.easeOut">Think <strong>unique</strong>. Be <strong>unique</strong>.</div>
                        <div class="tp-caption lead light-layer sfr" data-x="450" data-y="309" data-speed="500" data-start="2300" data-easing="Sine.easeOut">Make a difference using Kwoon.</div>
                    </li>
                    <li data-transition="fade">
                        <img src="~/Content/FrontEntContent/style/images/art/rs5-2.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
                        <div class="tp-caption main-title dark-layer sfl" data-x="center" data-y="193" data-speed="600" data-start="500" data-endspeed="100" data-easing="Sine.easeOut">Bringing <strong>ideas</strong> to life</div>
                        <div class="tp-caption lead dark-layer sfl" data-x="center" data-y="287" data-speed="600" data-start="1500" data-endspeed="100" data-easing="Sine.easeOut">Making life easier</div>
                    </li>
                    <li data-transition="fade">
                        <img src="~/Content/FrontEntContent/style/images/art/rs5-3.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
                        <div class="tp-caption lft boxshadow" data-x="380" data-y="85" data-speed="900" data-start="1000" data-easing="easeOutExpo">
                            <iframe src="http://player.vimeo.com/video/6757600?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="676" height="380" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                        </div>
                        <div class="tp-caption lead light-layer sft" data-x="113" data-y="85" data-speed="900" data-start="1500" data-easing="Sine.easeOut">Video Support</div>
                        <div class="tp-caption lead dark-layer sfl" data-x="189" data-y="169" data-speed="900" data-start="2000" data-easing="Sine.easeOut">YouTube</div>
                        <div class="tp-caption lead dark-layer sfl" data-x="216" data-y="249" data-speed="900" data-start="2500" data-easing="Sine.easeOut">Vimeo</div>
                        <div class="tp-caption lead dark-layer sfl" data-x="206" data-y="329" data-speed="900" data-start="3000" data-easing="Sine.easeOut">HTML5</div>
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
            <!-- /.tp-banner-container -->
        </div>
        <!-- /.revolution -->
        <div class="divide90"></div>
        <div class="row text-center steps">
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="1s">
                <div class="steps-item">
                    <span class="number"></span>
                    <div class="icon"> <i class="budicon-diamond"></i> </div>
                    <h4>Collect Ideas</h4>
                    <p>Nulla vitae libero pharetra augue. Etiam porta malesuada magna mollis euismod. Eget lacinia odio sem nec elit.</p>
                </div>
                <!--/.steps-item -->
            </div>
            <!--/column -->
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="steps-item">
                    <span class="number"></span>
                    <div class="icon"> <i class="budicon-pie-cart"></i> </div>
                    <h4>Data Analysis</h4>
                    <p>Nulla vitae libero pharetra augue. Etiam porta malesuada magna mollis euismod. Eget lacinia odio sem nec elit.</p>
                </div>
                <!--/.steps-item -->
            </div>
            <!--/column -->
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                <div class="steps-item">
                    <span class="number"></span>
                    <div class="icon"> <i class="budicon-brush"></i> </div>
                    <h4>Magic Touch</h4>
                    <p>Nulla vitae libero pharetra augue. Etiam porta malesuada magna mollis euismod. Eget lacinia odio sem nec elit.</p>
                </div>
                <!--/.steps-item -->
            </div>
            <!--/column -->
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
                <div class="steps-item">
                    <span class="number"></span>
                    <div class="icon"> <i class="budicon-gift"></i> </div>
                    <h4>Finalize Product</h4>
                    <p>Nulla vitae libero pharetra augue. Etiam porta malesuada magna mollis euismod. Eget lacinia odio sem nec elit.</p>
                </div>
                <!--/.steps-item -->
            </div>
            <!--/column -->
        </div>
        <!--/.steps -->

        <div class="divide90"></div>

        <div class="row">
            <div class="col-sm-4 col-md-3">
                <h3 class="main-title">Awesome <strong>Works</strong></h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat. Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo.</p>
                <div class="divide10"></div>
                <a href="portfolio.html" class="btn">View All Works</a>
            </div>
            <!--/column -->
            <div class="col-sm-8 col-md-9">
                <div class="portfolio-grid col3">
                    <div class="items-wrapper">
                        <div class="isotope items">
                            <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                                <figure>
                                    <a href="portfolio-post.html">
                                        <div class="text-overlay">
                                            <div class="info"><span>View Project</span></div>
                                        </div>
                                        <img src="~/Content/FrontEntContent/style/images/art/p1.jpg" alt="" />
                                    </a>
                                </figure>
                            </div>
                            <!--/.item -->
                            <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                                <figure>
                                    <a href="portfolio-post2.html">
                                        <div class="text-overlay">
                                            <div class="info"><span>View Project</span></div>
                                        </div>
                                        <img src="~/Content/FrontEntContent/style/images/art/p2.jpg" alt="" />
                                    </a>
                                </figure>
                            </div>
                            <!--/.item -->
                            <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                                <figure>
                                    <a href="portfolio-post3.html">
                                        <div class="text-overlay">
                                            <div class="info"><span>View Project</span></div>
                                        </div>
                                        <img src="~/Content/FrontEntContent/style/images/art/p3.jpg" alt="" />
                                    </a>
                                </figure>
                            </div>
                            <!--/.item -->
                            <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">
                                <figure>
                                    <a href="portfolio-post4.html">
                                        <div class="text-overlay">
                                            <div class="info"><span>View Project</span></div>
                                        </div>
                                        <img src="~/Content/FrontEntContent/style/images/art/p4.jpg" alt="" />
                                    </a>
                                </figure>
                            </div>
                            <!--/.item -->
                            <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="1.2s">
                                <figure>
                                    <a href="portfolio-post5.html">
                                        <div class="text-overlay">
                                            <div class="info"><span>View Project</span></div>
                                        </div>
                                        <img src="~/Content/FrontEntContent/style/images/art/p5.jpg" alt="" />
                                    </a>
                                </figure>
                            </div>
                            <!--/.item -->
                            <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="1.5s">
                                <figure>
                                    <a href="portfolio-post6.html">
                                        <div class="text-overlay">
                                            <div class="info"><span>View Project</span></div>
                                        </div>
                                        <img src="~/Content/FrontEntContent/style/images/art/p6.jpg" alt="" />
                                    </a>
                                </figure>
                            </div>
                            <!--/.item -->
                        </div>
                        <!--/.isotope -->
                    </div>
                    <!--/.items-wrapper -->
                </div>
                <!--/.classic-portfolio -->
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.dark-wrapper -->

<div class="parallax light-wrapper parallax4">
    <div class="container inner text-center">
        <div class="thin">
            <div class="carousel-wrapper">
                <div class="carousel testimonials3">
                    <div class="item">
                        <div class="quote">
                            <blockquote>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis.</p>
                            </blockquote>
                            <div class="author">
                                <div class="icon"> <img src="~/Content/FrontEntContent/style/images/art/t1.jpg" alt="" /> </div>
                                <h5>Connor Gibson</h5>
                                <span class="meta">Interface Designer</span>
                            </div>
                            <!--/.author -->
                        </div>
                        <!--/.quote -->
                    </div>
                    <!--/.item -->
                    <div class="item">
                        <div class="quote">
                            <blockquote>
                                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula.</p>
                            </blockquote>
                            <div class="author">
                                <div class="icon"> <img src="~/Content/FrontEntContent/style/images/art/t2.jpg" alt="" /> </div>
                                <h5>Barclay Widerski</h5>
                                <span class="meta">Computer Engineer</span>
                            </div>
                            <!--/.author -->
                        </div>
                        <!--/.quote -->
                    </div>
                    <!--/.item -->
                    <div class="item">
                        <div class="quote">
                            <blockquote>
                                <p>Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. </p>
                            </blockquote>
                            <div class="author">
                                <div class="icon"> <img src="~/Content/FrontEntContent/style/images/art/t3.jpg" alt="" /> </div>
                                <h5>Nikolas Brooten</h5>
                                <span class="meta">Sales Manager</span>
                            </div>
                            <!--/.author -->
                        </div>
                        <!--/.quote -->
                    </div>
                    <!--/.item -->
                    <div class="item">
                        <div class="quote">
                            <blockquote>
                                <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus. </p>
                            </blockquote>
                            <div class="author">
                                <div class="icon"> <img src="~/Content/FrontEntContent/style/images/art/t4.jpg" alt="" /> </div>
                                <h5>Coriss Ambady</h5>
                                <span class="meta">Marketing Specialist</span>
                            </div>
                            <!--/.author -->
                        </div>
                        <!--/.quote -->
                    </div>
                    <!--/.item -->
                </div>
                <!--/.carousel -->
            </div>
            <!--/.carousel-wrapper -->
        </div>
        <!-- /.thin -->
    </div>
    <!-- /.container -->
</div>
<!-- /.parallax -->

<div class="inverse-wrapper">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8 col-sm-12 wow fadeInUp" data-wow-duration="1s">
                <figure> <img src="~/Content/FrontEntContent/style/images/art/mock.png" alt="" /> </figure>
            </div>
            <!--/column -->
            <div class="col-md-4 col-sm-12">
                <h3 class="main-title">Core features of <strong>Kwoon</strong></h3>
                <p class="lead">Praesent commodo cursus magna, vel scelerisque nisl consectetur et fusce.</p>
                <div class="divide30"></div>
                <div class="feature wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="icon"> <i class="budicon-layout-1"></i> </div>
                    <h4>Rich Layout Options</h4>
                    <p>Curabitur blandit tempus porttitor. Nulla vitae elit libero, a pharetra augue.</p>
                </div>
                <!--/.feature -->
                <div class="feature wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="icon"> <i class="budicon-image-4"></i> </div>
                    <h4>Editable PSD Mockups</h4>
                    <p>Curabitur blandit tempus porttitor. Nulla vitae elit libero, a pharetra augue.</p>
                </div>
                <!--/.feature -->
                <div class="feature wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">
                    <div class="icon"> <i class="budicon-network"></i> </div>
                    <h4>SEO-Friendly Content</h4>
                    <p>Curabitur blandit tempus porttitor. Nulla vitae elit libero, a pharetra augue.</p>
                </div>
                <!--/.feature -->
                <div class="feature wow fadeIn" data-wow-duration="1s" data-wow-delay="1.2s">
                    <div class="icon"> <i class="budicon-support"></i> </div>
                    <h4>Free Support & Updates</h4>
                    <p>Curabitur blandit tempus porttitor. Nulla vitae elit libero, a pharetra augue.</p>
                </div>
                <!--/.feature -->
            </div>
            <!--/column -->

        </div>
        <!--/.row -->
    </div>
    <!--/.container -->
</div>
<!--/.inverse-wrapper -->

<div class="dark-wrapper">
    <div class="container inner">
        <h3 class="main-title text-center">From the <strong>journal</strong></h3>
        <div class="blog list-view">
            <div class="blog-posts">
                <div class="isotope row">
                    <div class="post col-md-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                        <div class="row">
                            <div class="col-sm-4">
                                <figure>
                                    <a href="blog-post.html">
                                        <div class="text-overlay">
                                            <div class="info"><span>Read More</span></div>
                                        </div>
                                        <img src="~/Content/FrontEntContent/style/images/art/b3-1.jpg" alt="" />
                                    </a>
                                </figure>
                            </div>
                            <!-- /column -->
                            <div class="col-sm-8 post-content">
                                <h3 class="post-title"><a href="blog-post.html">Curabitur Blandit Tempus</a></h3>
                                <div class="meta"><span class="category"><a href="#">Journal</a></span><span class="date">13 Nov 2012</span><span class="comments"><a href="#">8 <i class="icon-chat-1"></i></a></span></div>
                                <p>Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Curabitur blandit tempus.</p>
                            </div>
                            <!-- /column -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.post -->

                    <div class="post col-md-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                        <div class="row">
                            <div class="col-sm-4">
                                <figure>
                                    <a href="blog-post.html">
                                        <div class="text-overlay">
                                            <div class="info"><span>Read More</span></div>
                                        </div>
                                        <img src="~/Content/FrontEntContent/style/images/art/b3-2.jpg" alt="" />
                                    </a>
                                </figure>
                            </div>
                            <!-- /column -->
                            <div class="col-sm-8 post-content">
                                <h3 class="post-title"><a href="blog-post.html">Curabitur Blandit Tempus</a></h3>
                                <div class="meta"><span class="category"><a href="#">Journal</a></span><span class="date">13 Nov 2012</span><span class="comments"><a href="#">8 <i class="icon-chat-1"></i></a></span></div>
                                <p>Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Curabitur blandit tempus.</p>
                            </div>
                            <!-- /column -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.post -->

                    <div class="post col-md-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                        <div class="row">
                            <div class="col-sm-4">
                                <figure>
                                    <a href="blog-post.html">
                                        <div class="text-overlay">
                                            <div class="info"><span>Read More</span></div>
                                        </div>
                                        <img src="~/Content/FrontEntContent/style/images/art/b3-3.jpg" alt="" />
                                    </a>
                                </figure>
                            </div>
                            <!-- /column -->
                            <div class="col-sm-8 post-content">
                                <h3 class="post-title"><a href="blog-post.html">Curabitur Blandit Tempus</a></h3>
                                <div class="meta"><span class="category"><a href="#">Journal</a></span><span class="date">13 Nov 2012</span><span class="comments"><a href="#">8 <i class="icon-chat-1"></i></a></span></div>
                                <p>Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Curabitur blandit tempus.</p>
                            </div>
                            <!-- /column -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.post -->

                    <div class="post col-md-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                        <div class="row">
                            <div class="col-sm-4">
                                <figure>
                                    <a href="blog-post.html">
                                        <div class="text-overlay">
                                            <div class="info"><span>Read More</span></div>
                                        </div>
                                        <img src="~/Content/FrontEntContent/style/images/art/b3-4.jpg" alt="" />
                                    </a>
                                </figure>
                            </div>
                            <!-- /column -->
                            <div class="col-sm-8 post-content">
                                <h3 class="post-title"><a href="blog-post.html">Curabitur Blandit Tempus</a></h3>
                                <div class="meta"><span class="category"><a href="#">Journal</a></span><span class="date">13 Nov 2012</span><span class="comments"><a href="#">8 <i class="icon-chat-1"></i></a></span></div>
                                <p>Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Curabitur blandit tempus.</p>
                            </div>
                            <!-- /column -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.post -->

                </div>
                <!--/.row -->
            </div>
            <!--/.blog-posts -->
        </div>
        <!--/.blog -->
    </div>
    <!--/.container -->
</div>
<!--/.dark-wrapper -->

<div class="parallax inverse-wrapper parallax3">
    <div class="container inner text-center">
        <h3 class="main-title no-line text-center"><strong>Subscribe</strong> to our newsletter</h3>
        <div class="newsletter-wrapper">
            <div id="mc_embed_signup" class="newsletter-form">
                <form action="http://elemisfreebies.us3.list-manage1.com/subscribe/post?u=ddc180777a163e0f9f66ee014&amp;id=056957de28" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter email" required="">
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;">
                        <input type="text" name="b_ddc180777a163e0f9f66ee014_056957de28" value="">
                    </div>
                    <div class="clear">
                        <input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe" class="btn">
                    </div>
                </form>
            </div>
            <!-- /#mc_embed_signup -->
        </div>
        <!-- /.newsletter-wrapper -->
    </div>
    <!-- /.container -->
</div>
<!-- /.parallax -->

<div class="dark-wrapper">
    <div class="container inner">
        <div class="carousel-wrapper">
            <div class="carousel clients">
                <div class="item"> <img src="~/Content/FrontEntContent/style/images/art/c1.png" alt="" /> </div>
                <div class="item"> <img src="~/Content/FrontEntContent/style/images/art/c2.png" alt="" /> </div>
                <div class="item"> <img src="~/Content/FrontEntContent/style/images/art/c3.png" alt="" /> </div>
                <div class="item"> <img src="~/Content/FrontEntContent/style/images/art/c4.png" alt="" /> </div>
                <div class="item"> <img src="~/Content/FrontEntContent/style/images/art/c5.png" alt="" /> </div>
                <div class="item"> <img src="~/Content/FrontEntContent/style/images/art/c6.png" alt="" /> </div>
                <div class="item"> <img src="~/Content/FrontEntContent/style/images/art/c1.png" alt="" /> </div>
                <div class="item"> <img src="~/Content/FrontEntContent/style/images/art/c2.png" alt="" /> </div>
                <div class="item"> <img src="~/Content/FrontEntContent/style/images/art/c3.png" alt="" /> </div>
            </div>
            <!--/.carousel -->
        </div>
        <!--/.carousel-wrapper -->

    </div>
    <!--/.container -->
</div>
<!--/.dark-wrapper -->
